h1{
  color: #ffffff;
  background-color: rgba(13,9,133,.7);
  border: 4px solid white;
  border-radius: 20px;
  padding: 30px;
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3vw;
}

h2{
  background-color: rgba(9,227,235,.95);
  font-size: 2vw;
  width: 50%;
}

h3{
  font-size: 1.75vw;
}

body{
  background-image: url("img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: 'Lato', sans-serif;
}

ul{
  color: yellow;
  background-color: purple;
  width: 50%;
}

ol{
  color: lightgoldenrodyellow;
  background-color: #1133ba;
  width: 50%;
}

a{
  color: red;
}

fieldset{
  background-color: white;
  outline-style: solid;
  outline-width: .5vw;
  border-radius: 10px;
  width: 55%;
  margin: 0 auto;
}

label{
  background-color: rgba(255,230,0,.35);
  padding: 5px;
  border-radius: 10px;
}

main{
  background-color: rgba(250,250,250,.7);
  width: 60%;
  border: 5px solid rgba(13,9,133,.7);
  border-radius: 40px;
  padding: 4px;
  margin: 0 auto;
  font-size: 1.1vw
}

footer{
  background-color: rgba(250,250,250,.7);
  width: 20%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25vw;
  padding: 7.5px;
  border-radius: 10px;
  text-decoration: underline;
  text-underline-position: under;
}

img{
  border: 7px solid rgba(13,9,133,.7);
  border-radius: 50px;
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
  text-align: center;
}

legend{
  font-size: 2vw;
  background-color: white;
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
}

button{
  width: 7vw;
  padding-top: .4vw;
  padding-bottom: .4vw;
  font-size: 1.5vw;
  background-color: black;
  color: white;
  border-radius: 10px;
}

#reset{
  width: 7vw;
  padding-top: .4vw;
  padding-bottom: .4vw;
  font-size: 1.5vw;
  background-color: black;
  color: white;
  border-radius: 10px;
}
